:root {
	--container-width: 1230px;
	--container-padding: 15px;

	--font-main: 'HelReg', sans-serif;
	--font-accent: 'HelBold', serif;

	--page-bg: #fff;
	--text-color:#5C5C5E;
	--accent: #070707;

   --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}