// .accessories__swiper {
// 	display: flex;
// }

.accessories {
	margin-bottom: 100px;

	&__title {
		margin-bottom: 30px;
	}
	
	&__subtitle {
		margin-bottom: 30px;
	}

	&__title,
	&__subtitle {
		@include mediaTablet() {
			text-align: center;
		}
	}
}

.text-style {
}
