.equipment {
	margin-bottom: 100px;

	&__title {
		margin-bottom: 50px;
	}

	&__box {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-rows: repeat(2, 1fr);
		gap: 30px 20px;
	}


	&__box-item--one {
		grid-row: 1 / -1;
	}

	&__box-img {
		margin-bottom: 10px;
	}

	&__box-text {

	}

	&__box-title {
		
	}
}

