.header {
	border-bottom: 1px solid #CACAD6;
}

.nav {
	display: grid;
	grid-template-columns: fit-content(375px) 2fr 1fr;
	align-items: center;
	height: 80px;

	@include mediaMobile() {
		grid-template-columns: 2fr 1fr;
	}
}

.menu {
	display: flex;
	gap: 0 20px;

	@include mediaMobile() {
		display: none;
	}

		&__list {

		}

		&__link {
			font-size: 16px;

			transition: opacity 0.2s ease-in;
			color: var(--text-color);

			&:hover {
				opacity: 0.8;
			}
		}

}

.logo {
	justify-self: center;

	@include mediaMobile() {
		justify-self: start;
	}

	@include mediaMobileL() {
		justify-self: center;
	}
}


.basket {
	position: relative;
	justify-self: end;

	@include mediaMobile() {
		display: none;
	}
}

.basket--on span {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	bottom: -4px;
	right: -2px;

	font-size: 11px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: black;
	color: #fff;
}
