.meta {
	height: 1000px;
	background-image: url('./../img/meta-quest/meta-quest.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	&__subtitle {
		font-size: 36px;
		margin-bottom: 5px;
	}

	&__text {
		font-size: 13px;
		margin-bottom: 50px;
	}
}

.buy__text {
	font-size: 13px;
	padding-top: 6px;
}



