.meta {
	height: 1000px;
	background-image: url('./../img/meta-quest/meta-quest.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	@include mediaTablet {
		text-align: center;
	}

	&__subtitle {
		font-size: 36px;
		margin-bottom: 5px;

		@include mediaMobile {
			font-size: 24px;
		}
	}

	&__text {
		font-size: 13px;
		margin-bottom: 50px;

		@include mediaTablet {
			margin-bottom: 30px;
		}

		@include mediaMobile() {
			margin-bottom: 25px;
		}
	}
}

.buy__text {
	font-size: 13px;
	padding-top: 6px;
}




